In [1]:
import pandas as pd
import random
import os
import numpy as np

from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [2]:
class CFG:
    SEED = 42

In [3]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(CFG.SEED) # Seed 고정

In [50]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
sub = pd.read_csv('snp_info.csv', index_col = 'SNP_id')


def get_x_y(df):
    if 'class' in df.columns:
        df_x = df.drop(columns=['id', 'class'])
        df_y = df['class']
        return df_x, df_y
    else:
        df_x = df.drop(columns=['id'])
        return df_x

train_x, train_y = get_x_y(train)
test_x = get_x_y(test)
train_x

,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
0,0,0,0,2,G G,A G,A A,G A,C A,A A,A A,G G,A A,G G,A G,A A,A A,A A,A A
1,0,0,0,2,A G,A G,C A,A A,A A,A G,A A,G A,A A,A G,A A,G A,G G,A A,A A
2,0,0,0,2,G G,G G,A A,G A,C C,G G,A A,G A,G A,A G,A A,A A,A A,A A,A A
3,0,0,0,1,A A,G G,A A,G A,A A,G G,G G,A A,G G,A G,G G,G G,G G,A A,G G
4,0,0,0,2,G G,G G,C C,A A,C C,A A,A A,A A,A A,G G,A A,A A,A G,A A,G A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,0,0,0,2,A G,A G,A A,G A,C C,A G,A A,G A,A A,G G,A G,G A,A A,A A,A A
258,0,0,0,2,G G,A A,C A,A A,A A,A G,G A,G A,A A,A G,A G,A A,A G,A A,G A
259,0,0,0,1,A G,G G,A A,G A,A A,A G,G G,G A,G A,A A,G G,G G,G G,C A,G G
260,0,0,0,1,A A,G G,A A,G A,A A,G G,G G,A A,G A,A G,A G,G A,G G,C A,G G
261,0,0,0,2,G G,A G,C A,G G,C C,A G,A A,A A,A A,G G,A A,A A,G G,A A,G A

In [51]:

sub = sub.T
sub

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
name,BTA-19852-no-rs,ARS-USMARC-Parent-DQ647190-rs29013632,ARS-BFGL-NGS-117009,ARS-BFGL-NGS-60567,BovineHD0600017032,BovineHD0600017424,Hapmap49442-BTA-111073,BovineHD0600018638,ARS-BFGL-NGS-37727,BTB-01558306,ARS-BFGL-NGS-44247,Hapmap32827-BTA-146530,BTB-00395482,Hapmap40256-BTA-84189,BovineHD1000000224
chrom,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [54]:
df = sub.drop(index='SNP_id', axis=0)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
name,BTA-19852-no-rs,ARS-USMARC-Parent-DQ647190-rs29013632,ARS-BFGL-NGS-117009,ARS-BFGL-NGS-60567,BovineHD0600017032,BovineHD0600017424,Hapmap49442-BTA-111073,BovineHD0600018638,ARS-BFGL-NGS-37727,BTB-01558306,ARS-BFGL-NGS-44247,Hapmap32827-BTA-146530,BTB-00395482,Hapmap40256-BTA-84189,BovineHD1000000224
chrom,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [46]:
sub.columns.names = [sub['SNP_id']]
sub

KeyError: 'SNP_id'

In [48]:
sub[('SNP_id')]

KeyError: 'SNP_id'

In [36]:
#sub.reset_index()
sub=sub.drop(labels='name',axis=0)
sub

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [37]:

sub

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [38]:

sub.insert(0,'father',0)
sub

,father,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,0,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,0,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,0,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,0,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [39]:

sub.insert(1,'mother',0)
sub

,father,mother,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,0,0,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,0,0,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,0,0,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,0,0,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [40]:

sub.insert(2,'gender',0)
sub

,father,mother,gender,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,0,0,0,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,0,0,0,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,0,0,0,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,0,0,0,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [41]:

sub.insert(3,'trait',0)
sub

,father,mother,gender,trait,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SNP_id,0,0,0,0,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,0,0,0,0,2,6,6,6,6,6,6,6,6,7,8,9,9,9,10
cm,0,0,0,0,67.0546,31.1567,68.2892,77.8749,80.5015,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,0,0,0,0,42986890,13897068,44649549,53826064,61779512,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [42]:
result1 = pd.concat([train,sub],ignore_index=True)

In [43]:
result1

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,5,6,7,8,9,10,11,12,13,14
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SNP_id,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,...,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
chrom,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,...,6,6,6,6,7,8,9,9,9,10
cm,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,...,80.5954,80.78,82.6856,86.874,62.0692,97.1731,62.7463,63.4181,66.8197,1.78774
pos,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,...,63048481,64037334,67510588,73092782,40827112,92485682,55007839,59692848,72822507,814291

In [50]:
class_le = preprocessing.LabelEncoder()
snp_le = preprocessing.LabelEncoder()
snp_col = [f'SNP_{str(x).zfill(2)}' for x in range(1,16)]

snp_data = []
for col in snp_col:
    snp_data += list(train_x[col].values)

train_y = class_le.fit_transform(train_y)
snp_le.fit(snp_data)

LabelEncoder()

In [51]:
for col in train_x.columns:
    if col in snp_col:
        train_x[col] = snp_le.transform(train_x[col])
        test_x[col] = snp_le.transform(test_x[col])

In [52]:
clf = RandomForestClassifier(random_state=CFG.SEED)
clf.fit(train_x, train_y)

RandomForestClassifier(random_state=42)

In [53]:
preds = clf.predict(test_x)
print('Done.')
print(preds)

Done.
[0 1 2 1 0 1 2 1 0 0 2 1 1 0 1 1 0 1 1 2 1 1 1 0 1 1 1 0 0 1 0 0 1 2 0 1 2
 1 1 2 0 1 2 1 1 1 1 2 1 2 0 1 0 1 1 1 2 0 1 2 0 1 2 2 2 0 1 0 0 1 1 1 0 0
 2 1 2 1 1 1 2 1 0 1 1 1 1 1 2 0 1 1 2 1 1 2 0 1 0 2 0 1 1 2 0 0 2 1 0 1 2
 1 1 1 1 0 0 2 1 1 0 1 1 2 2 1 2 1 0 1 0 0 1 1 1 2 0 0 1 0 0 0 2 1 1 1 0 1
 2 0 0 1 0 1 1 0 0 1 2 0 1 2 2 1 0 0 2 1 1 0 1 2 2 1 1]

In [54]:
submit = pd.read_csv('./sample_submission.csv')

submit['class'] = class_le.inverse_transform(preds)

submit.to_csv('./answer/submit.csv', index=False)